
/* ADD TASK MODAL */
.header__add {
   display: none;
}

.header__add.active {
   position: absolute;
   width: 400px;
   height: 330px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--bg-light);

   display: flex !important;
   flex-direction: column;
   gap: 12px;

   z-index: 2;
}

.header__add__top {
   background-color: var(--header);
   border: 8px 8px 0 0;
   padding: 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__add__top img{
   cursor: pointer;
}

.header__add > textarea {
   padding: 6px 10px;
   font-size: 14px;
   border-radius: 6px;
   margin: 0 12px;
   border: 1px solid var(--bg-accent);
}

.header__add > input[type="datetime-local"] {
   padding: 6px;
   letter-spacing: 5px;
   border-radius: 6px;
   margin: 0 12px;
   border: 1px solid var(--bg-accent);
}

.header__add > button {
   padding: 8px;
   margin: 0 12px 8px 12px;
   border: 1px solid var(--bg-accent);
   border-radius: 8px;
   background-color: var(--bg-accent);
}

.header__add input[type="datetime-local"]:focus,
.header__add textarea:focus {
   outline: 1px solid var(--bg-accent) !important;
}

/* TASK HEADER */

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
   padding: 6px 12px;
   border-radius: 8px 8px 0 0;
   background-color: var(--header);
}

#header__text {
   letter-spacing: 3px;
}

#header__add__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
   padding: 3px 8px;

   border-radius: 6px;
   border: none;
   background-color: var(--bg-accent);
   box-shadow: 0 0 1px var(--bg-border);
   transition: padding 0.1s ease-in;

   cursor: pointer;
}

#header__add__btn:hover {
   padding: 3px 1rem;
}

#header__add__btn img {
   height: 1rem;
   /* width: 12px; */
}

#header__add__btn span {
   letter-spacing: 3px;
}

/* EDIT MODAL HEADER */

.todo__edit__header {
   background-color: var(--header);
   border: 8px 8px 0 0;
   padding: 8px;
}
