@import url("header.css");
@import url("helper.style.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
   --bg-color: hsl(330, 10%, 92%);
   --bg-light: hsl(0, 0%, 100%);
   --header: hsl(340, 50%, 80%);
   --bg-accent: hsl(78, 40%, 70%);

   --bg-border: hsl(345, 6%, 13%);
   --bg-shadow: hsl(0, 0%, 23%);
}

* {
   margin: 0;
   padding: 0;
   font-family: "Montserrat", sans-serif;
}

html,
body {
   height: 100%;
}

body {
   background-color: var(--bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.main__container {
   box-sizing: border-box;
   width: 450px;
   height: 450px;
   border-radius: 8px;
   box-shadow: 0 0 3px var(--bg-shadow);
   background-color: var(--bg-light);

   display: flex;
   flex-direction: column;
}

/* 

 - TODO 

*/

.todo__container {
   padding: 8px 1rem;
   padding: 8px 1;
   height: calc(100% - 40px);
   overflow: auto;
}

.todo__container::-webkit-scrollbar {
   display: none;
}

.todo {
   margin: 12px 0;
}

.todo__info {
   padding: 6px 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
   box-shadow: 0 0 3px var(--bg-shadow);
   background-color: var(--bg-accent);
}

.todo__info__left {
   display: flex;
   gap: 8px;
}

.todo__info__left input[type="radio"] {
   cursor: pointer;
}

.todo__info__right {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.todo__info__right > div > img {
   cursor: pointer;
}

.todo__info__right:nth-child(2) {
   letter-spacing: 3px;
   font-size: 0.7rem;
}

/* 

 - TODO edit

*/

.todo__edit {
   display: none ;
}

.todo__edit.active {
   position: absolute;
   width: 400px;
   height: 330px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--bg-light);

   display: flex !important;
   flex-direction: column;
   gap: 12px;

   z-index: 2;
}

.todo__edit > textarea {
   padding: 6px 10px;
   font-size: 14px;
   border-radius: 6px;
   margin: 0 12px;
   border: 1px solid var(--bg-accent);
}

.todo__edit > input[type="datetime-local"] {
   padding: 6px;
   letter-spacing: 5px;
   border-radius: 6px;
   margin: 0 12px;
   border: 1px solid var(--bg-accent);
}

.todo__edit > button {
   padding: 8px;
   margin: 0 12px 8px 12px;
   border: 1px solid var(--bg-accent);
   border-radius: 8px;
   background-color: var(--bg-accent);
}

.todo__edit input[type="datetime-local"]:focus,
.todo__edit textarea:focus {
   outline: 1px solid var(--bg-accent) !important;
}
